<div class="root">
<div class="inner">
  <form action="#" class="form1">
    <div class="form-control">
      <label for="options">Pick a Movie :</label>
      <select name="options" id="options" appChangeDir>
        <option value="10">Avengers Endgame ($10)</option>
        <option value="20">The Hulk ($20)</option>
        <option value="30">James Bond ($25)</option>
      </select>
    </div>
  </form>

  <div class="display">
    <div class="rowdiv">
      <div class="seat notapplicable"></div>
      <p>N/A</p>
    </div>
    <div class="rowdiv">
      <div class="seat selected"></div>
      <p>Selected</p>
    </div>
    <div class="rowdiv">
      <div class="seat occupied"></div>
      <p>Occupied</p>
    </div>
  </div>

  <div class="screen"></div>

  <div class="seats_div">
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
    <div class="col">
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
      <div class="seat" appSeatSelect></div>
    </div>
  </div>

  <div class="selected_seats_amount">
    <p>Number of seats: {{seats}}</p>
    <p>Total Amount: {{amount}}</p>
  </div>

</div>
</div>

